@media screen and (min-width: 577px) {
    .navbar{
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }
   .navbar h3{
    display: block;
   }
   .navbar .links, button{
    display: block;
   }
   .hamburger{
    display: none;
   }
   .logo img{
    width: 46px;
    height: 46px;
   }
   .logo{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 32px;
    font-weight: 700;
   }
   /* empowerment */
   .empowerment-child1{
    width: 65%;
}
.empowerment-child2{
    width: 35%;
}
.Empowerment h1{
    font-size: 35px;
}
/* standard curriculum */
.standard-child{
    flex-direction: row;
}
.std-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
}

/* our stories */

.stories-parent{
    grid-template-columns: repeat(4, 1fr);
}
.stories-child1 h5{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.stories-child1 p{
    font-size: 15px;
    font-weight: 500;
}
.stories-child1{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.stories-child2{
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-child3{
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-chlid4{
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-child5{
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.stories-child6{
    display: none;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* footer */
footer{
    grid-template-columns: repeat(3, 1fr);
}

.footer-child p{
    margin-top: 35px;
}
}