@media screen and (max-width:576px) {
   /* header navbar */
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }
   .navbar h3{
    display: none;
   }
   .navbar .links{
    display: none;
   }
   .navbar button{
    display: none;
   }
   
   .logo img{
    width: 46px;
    height: 46px;
   }
   /* empowerment */
   .Empowerment{
    flex-direction: column-reverse;
    
}
   .empowerment-child1{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.empowerment-child2{
    width: 100%;
}
.head{
    font-size: 32px;
}
.h-paragraph{
    font-size: 14px;
}
/* standard curriculum */
.standard-child{
    flex-direction: column;
}
.std-button{
    display: none;
}
}