/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body */
body{
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}
/* header */
.navbar{
    display: flex;
}
.links a{
    text-decoration: none;
}
.links ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    gap: 27px;
}

header button{
    background: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
}

/* Empowerment of Students from Small Age */
.Empowerment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Empowerment img{
    width: 100%;
}
span{
    color: rgb(254, 163, 1);
}
.span-2{
    color: rgb(1, 172, 253);
}
.head{
    font-weight: 700;
}
.h-paragraph{
    color: rgb(17, 17, 17);
    font-weight: 400;
}
.h-button{
    padding: 10px 20px;
    margin: 24px 0px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
}

/* Standard Curriculum */
.standard-parent{
    padding: 50px 0px;
    text-align: center;
    background-image: url('../assets/bg.png');
}
.standard-parent h1{
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: 700;
}
.standard-child{
    display: flex;
    gap: 16px;
}
.standard-subchild {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 40px 25px;
    justify-content: center;
    align-items: center;
}
.standard-subchild img{
    width: 40%;
}
.standard-subchild a{
    margin-top: 25px;
    display: block;
    font-size: 15px; font-weight: 700;
    text-decoration: none;
}
.std1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.std2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.std3{
    background:  linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.std-button button{
    border: none;
    border-radius: 39px;
}


/* our stories */
.our-stories{
    background: url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.our-stories h1{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}
.stories-parent{
    display: grid;
    gap: 10px;
    margin-top: 80px;
}
.stories-parent img{
    width: 100%;
}

.bot{
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
.bot p{
    padding: 10px;
}
.bot h6{
    margin-top: 20px;
}
.child1-btn{
    position: absolute;
    left: 30px;
    top: -20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 20px;
}
.green{
    background: rgb(149, 178, 38);
}

.big{
    position: relative;
}
.big1{
    position: absolute;
    left: 30px;
    top: -20px;
    background: rgb(60, 216, 232);
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 20px;
}
.visual-btn{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual-btn button{
    padding: 15px 40px;
    border-radius: 10px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    margin: 0px auto;
    font-size: 20px;
    font-weight: 700;
}
.stories-parent h6{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}
/* footer section */
footer{
    display: grid;
    background: rgb(1, 172, 253);
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 40px 15px;
    gap: 24px;
}
.footer-child p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.footer-subchild{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-subchild h2{
    font-size: 42.14px;
    font-weight: 700;
    text-align: left;
}
.footer-std a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
.footer-std ul{
    margin-top: 10px;
}

.footer-std .footer-stdio, h5{
    font-size: 20px;
    font-weight: 600;
}
.footer-duty{
    margin-top: 20px;
}